body {
  background-color: rgb(29, 45, 60);
}

.my-card {
  background-color: rgb(17, 32, 48) !important;
  height: 400px;
}

.titolo {
  color: rgb(101, 159, 212);
}

.my-btn {
  background-color: rgb(30, 232, 100) !important;
}

.my-btn:hover {
  background-color: rgb(114, 244, 159) !important;
}