body {
  background-color: rgb(29, 45, 60);
}

.my-card {
  background-color: rgb(17, 32, 48) !important;
  /* height: 500px; */
}

.titolo {
  color: rgb(101, 159, 212);
}

.my-btn {
  background-color: rgb(29, 208, 93) !important;
  border: none !important;
}

.my-btn:hover {
  background-color: rgb(19, 137, 60) !important;
}