body {
  background-color: rgb(29, 45, 60);
}

.my-card {
  background-color: rgb(17, 32, 48) !important;
  /* height: 500px; */
  position: relative;
}

.titolo {
  color: rgb(101, 159, 212);

}

.titolo-bis {
  color: rgb(29, 208, 93);
}

.my-btn {
  background-color: rgb(29, 208, 93) !important;
  cursor: pointer;
}

.my-btn:hover,
.my-btn-trash:hover {
  background-color: rgb(19, 137, 60) !important;
}

.my-btn-trash {
  color: rgb(29, 208, 93) !important;
  cursor: pointer;
}

.bordo {
  border: 2px solid rgb(29, 208, 93);
  padding: 0 7px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.heart {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}